<body>
  <h2>Create A Blog! </h2>

  <p>Please fill out the following form.</p>

  <div class="blogCont">

    <form id="addablog">


      <p>What is the title of the blog?</p>
      <input type="text" id="blog_post_title" name="blog_post_title"></input> <br><br>
      <p>What do you want to post? (Enter some content!) </p>
      <input type="text" id="blog_post_content" name="blog_post_content"></input> <br><br>
      <p> Who is the creator? </p>
      <input type="text" id="blog_post_creator" name="blog_post_creator"></input> <br><br>
      <p> Enter the date of the blog post? </p>
      <input type="text" id="blog_post_date" name="blog_post_date"></input> <br><br>

  </div>


  <input type="submit" id="add_button" />
  </form>


  <p>Click the "Submit" button to view your blog!".</p>

</body>