<div class="cont">

  <form class="form" id="form">
    <h2>Login</h2>
    <div>
      <label for="username">Username:</label>
      <input id="username" required name="username" />
    </div>
    <div>
      <label for="password">Password:</label>
      <input id="password" type="password" required name="password" />
    </div>
    <input class="button" type="submit" value="Login">

  </form>
  <script defer> console.log("see if this runs")
    document.querySelector("form").addEventListener("submit", function (e) {
      e.preventDefault();

      
      const username = document.getElementById('username').value;
      const password = document.getElementById('password').value;

      fetch('/api/users/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          username,
          password
        })
      }).then(res => {
        if (res.status === 200) {
          res.json().then(res => {
            if (res.err) {
              alert(res.err);
            }

            else {
              window.location.replace("/blog");
            }
          });
        }
        else {
          alert('Invalid username/password!');
        }
      });
    });
  </script>

  {{!-- <div class="bg-img inner-cont">
    <div class="img-text">
      <h1>Amy's Tech Blog</h1>
      <p>
        <br>Welcome to my tech blog! Here you can either learn coding by reading tips and tricks left by other people,
        or you can contribute and leave some t&t (tips and tricks)!
      </p>
      <div class="button2"><a href="/signup">SIGN UP</a></div>
    </div>

  </div>
</div> --}}